<section >
  <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"  (ngSubmit)="onLogin()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email" formControlName="email" name="email" required>
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.errors?.required">*Email is required.</mat-error>
      <mat-error *ngIf="email.errors?.email">*Email is must be valid.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" hintLabel="*should be atleast 6 character long.">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Enter Password" formControlName="password" name="password" required>
      <mat-icon matSuffix>lock</mat-icon>
      <!-- <mat-hint align="end">6/{{password.value.length || 0}}</mat-hint> -->
      <mat-error *ngIf="password.errors?.required">*Password is required.</mat-error>
      <mat-error *ngIf="password.errors?.minLength">at least 6 characters long.</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
